$backgroundNavTop:black;
$navColorTop:#009cff;
$heightNavTop:10px;



.top-navbar{
        width: 100%;
        text-align: right;
        background-color:$backgroundNavTop;
        color:$navColorTop;
        padding: $heightNavTop;


    ul {
          list-style-type: none;
          font-size: 12px;

        li {
            display:inline-block;


            a{
                color:#989898;;

            }
        }
    }
}
