$backgroundNavTop:black;
$navColorTop:#009cff;
$heightNavTop:10px 0;
$spacingNavbarTop:10px;



.top-navbar{
        width: 100%;
        text-align: right;
        background-color:$backgroundNavTop;
        color:$navColorTop;
        padding: $heightNavTop;
    



    ul {
          list-style-type: none;
          font-size: 12px;

        li {
            display:inline-block;
            padding:0 $spacingNavbarTop;


            a{
                color:#989898;


            }
        }
    }
}

i,a {
    padding: $spacingNavbarTop/2;
}
